# 시퀀스 상세 데이터 분석 (v3.1 - 데이터 개편 완료)
이 노트북은 **데이터 파이프라인 v3.1** 개편 이후의 정제된 데이터를 보여줍니다.

### ✅ 주요 개선 사항 확인 포인트:
1. **리시브 정제**: `Pass Received` 타입이 모두 제거되거나 `Carry`로 변환되었습니다.
2. **좌표 통합**: 우리 팀과 상대 팀 선수의 좌표가 공격 방향(`L->R`)에 맞춰 일관되게 표시됩니다.
3. **중복 제거**: 각 액션 번호(`action_id`)는 오직 하나의 시퀀스에만 등장합니다.

In [22]:
import pandas as pd
import os

# 정제된 데이터 로드
context_file = 'target_sequences_context_refined.csv'
if os.path.exists(context_file):
    df = pd.read_csv(context_file, encoding='utf-8-sig')
    print(f"데이터 로드 완료. (Total rows: {len(df)})")
else:
    print("데이터 파일을 찾을 수 없습니다.")

def display_sequence_with_context(label):
    sample_df = df[df['source_label'] == label].copy()
    if sample_df.empty:
        print(f"Label {label} not found.")
        return
    sid = sample_df['target_sid'].iloc[0]
    print(f"\n---")
    print(f"### [{label}] Target Sequence ID: {sid}")
    print(f"---")
    
    cols = ['action_id', 'player_name_ko', 'type_name', 'start_x', 'start_y', 'end_x', 'end_y', 'is_in_sequence']
    display(sample_df[cols])

데이터 로드 완료. (Total rows: 97)

## 1. Cluster 5 분석 (가장 많은 패턴)

In [23]:
display_sequence_with_context('c5_s1')
display_sequence_with_context('c5_s2')

---
### [c5_s1] Target Sequence ID: 1
---

,action_id,player_name_ko,type_name,start_x,start_y,end_x,end_y,is_in_sequence
0,57,설영우,Pass,0.479590,0.078040,0.342005,0.277444,False
1,58,황석호,Pass Received,0.342005,0.277444,0.342005,0.277444,False
2,59,황석호,Carry,0.342005,0.277444,0.438058,0.357750,True
3,60,황석호,Pass,0.438058,0.357750,0.399642,0.600129,True
4,61,김영권,Pass Received,0.399642,0.600129,0.399642,0.600129,True
5,62,김영권,Carry,0.399642,0.600129,0.422325,0.694253,True
6,63,김영권,Pass,0.422325,0.694253,0.821934,0.694339,True
7,64,아스프로,Interception,0.821929,0.695731,0.821929,0.695731,True
8,65,아스프로,Clearance,0.821929,0.695731,0.820891,0.822480,True
9,66,김민우,Recovery,0.820891,0.822480,0.820891,0.822480,True
10,67,김민우,Carry,0.820891,0.822480,0.962421,0.775843,True
11,68,김민우,Pass,0.962421,0.775843,0.925086,0.614604,False
12,69,아타루,Pass Received,0.925086,0.614604,0.925086,0.614604,False

---
### [c5_s2] Target Sequence ID: 10
---

,action_id,player_name_ko,type_name,start_x,start_y,end_x,end_y,is_in_sequence
13,384,아타루,Pass,0.685194,0.987845,0.568450,0.962468,False
14,385,김영권,Pass Received,0.568450,0.962468,0.766044,0.860273,False
15,386,김영권,Pass,0.568450,0.962468,0.766044,0.860273,True
16,387,김민우,Duel,0.766044,0.860273,0.766044,0.860273,True
17,388,김민우,Pass Received,0.766044,0.860273,0.766044,0.860273,True
18,389,김민우,Carry,0.766044,0.860273,0.878930,0.896620,True
19,390,김민우,Intervention,0.878930,0.896620,0.878930,0.896620,True
20,391,이명재,Recovery,0.878930,0.896620,0.878930,0.896620,True
21,392,이명재,Carry,0.878930,0.896620,0.924426,0.816846,True
22,393,이명재,Cross,0.924426,0.816846,0.938626,0.631368,True
23,394,한찬희,Block,0.931296,0.631578,0.931296,0.631578,False
24,395,박찬용,Ball Received,0.965351,0.531233,0.965351,0.531233,False

## 2. Cluster 6 분석

In [24]:
display_sequence_with_context('c6_s1')
display_sequence_with_context('c6_s2')

---
### [c6_s1] Target Sequence ID: 3
---

,action_id,player_name_ko,type_name,start_x,start_y,end_x,end_y,is_in_sequence
25,150,이명재,Pass,0.511614,0.843862,0.404914,0.467666,False
26,151,황석호,Pass Received,0.404914,0.467666,0.404914,0.467666,False
27,152,황석호,Carry,0.404914,0.467666,0.585794,0.186928,True
28,153,황석호,Pass,0.585794,0.186928,0.594143,0.024045,True
29,154,설영우,Pass Received,0.594143,0.024045,0.594143,0.024045,True
30,155,설영우,Carry,0.594143,0.024045,0.561468,0.112173,True
31,156,설영우,Pass,0.561468,0.112173,0.517312,0.503229,True
32,157,김영권,Pass Received,0.517312,0.503229,0.517312,0.503229,True
33,158,김영권,Carry,0.517312,0.503229,0.551406,0.553502,True
34,159,김영권,Pass,0.551406,0.553502,0.894530,0.206462,True
35,160,완델손,Interception,0.898378,0.197515,0.994865,0.319063,False
36,161,완델손,Pass,0.898378,0.197515,0.994865,0.319063,False

---
### [c6_s2] Target Sequence ID: 7
---

,action_id,player_name_ko,type_name,start_x,start_y,end_x,end_y,is_in_sequence
37,328,설영우,Pass,0.742026,0.068712,0.698138,0.223777,False
38,329,고승범,Pass Received,0.698138,0.223777,0.615884,0.142224,False
39,330,고승범,Pass,0.698138,0.223777,0.615884,0.142224,True
40,331,황석호,Pass Received,0.615884,0.142224,0.648775,0.094104,True
41,332,황석호,Pass,0.615884,0.142224,0.648775,0.094104,True
42,333,설영우,Pass Received,0.648775,0.094104,0.648775,0.094104,True
43,334,설영우,Pass,0.638283,0.119714,0.591188,0.428381,True
44,335,이명재,Pass Received,0.591188,0.428381,0.591188,0.428381,True
45,336,이명재,Carry,0.591188,0.428381,0.629181,0.541330,True
46,337,이명재,Pass,0.629181,0.541330,0.858692,0.425238,True
47,338,완델손,Interception,0.858692,0.425238,0.858692,0.425238,False
48,339,완델손,Clearance,0.858692,0.425238,0.629254,0.593560,False

## 3. 상대 팀과의 좌표 일치 확인 (c2_s1 샘플 권장)
공격 팀의 패스 종료 지점과 상대 팀의 수비 시작 지점 좌표가 일치하는지 확인해 보세요.

In [25]:
display_sequence_with_context('c2_s1')

---
### [c2_s1] Target Sequence ID: 2
---

,action_id,player_name_ko,type_name,start_x,start_y,end_x,end_y,is_in_sequence
49,66,김민우,Recovery,0.820891,0.822480,0.820891,0.822480,False
50,67,김민우,Carry,0.820891,0.822480,0.962421,0.775843,False
51,68,김민우,Pass,0.962421,0.775843,0.925086,0.614604,True
52,69,아타루,Pass Received,0.925086,0.614604,0.925086,0.614604,True
53,70,아타루,Carry,0.925086,0.614604,0.992459,0.609422,True
54,71,아타루,Shot,0.992459,0.609422,0.995296,0.583896,True
55,72,황인재,Parry,0.995296,0.583896,0.995296,0.583896,True
56,73,황인재,Out,0.995296,0.583896,0.995296,0.583896,False
57,74,이규성,Pass_Corner,0.999603,0.981328,0.908188,0.309971,False